.post{
    background: white;
    padding: 1em;
    margin-bottom: 1em;
    border-radius: 10px;
    

    .post__header{
        display: flex;
        margin-bottom:10px ;
        align-items: center;

        .post__info{
            margin-left: 10px;

            h2{
                font-size: 16px;
            }
            p {
                color: gray;
                font-size: 12px;
            }
        }
    }

    .post__body{
        overflow-wrap: anywhere;
    }

    .post__buttons{
        display: flex;
        place-content: space-evenly;
    }
}